$phoneSize:750px;
$tabletSize:1024px;
$desktopSize:1280px;
$desktopLargeSize:1440px;
$desktopExtraLargeSize:1920px;

$primaryColor:#0066ff;
$secondaryColor:#ff0066;
$tertiaryColor:#ffcc00;
$quaternaryColor:#00ff66;
$quinaryColor:#ff00ff;
$senaryColor:#ff9900;
$septenaryColor:#0099ff;
$octonaryColor:#ff6666;
$nonaryColor:#66ff66;
$denaryColor:#ff66ff;
$primaryTextColor:#000000;
$secondaryTextColor:#ffffff;
